{%extends 'app1/home.html'%}
{%block body_block%}
{%load static%}
<div class="container">
    <div class="column" >
        <img src="{% static 'images/class1.jpeg' %}" width="100%">
    </div>
    <div class="column" >
        <img src="{% static 'images/class2.jpeg' %}" width="100%">
    </div>
    <div class="column" >
        <img src="{% static 'images/class3.jpeg' %}" width="100%">
    </div>
    <div class="column" >
        <img src="{% static 'images/class4.jpeg' %}" width="100%">
    </div>
</div>

{%endblock%}