{%extends 'app1/home.html'%}
{%block body_block%}
{%load static%}
<p>
<div class="container">
    <div class="video-thumbnail-container">
      <a href="https://youtu.be/DAQrkjwmQvQ?t=3">
          <img src="{%static 'images/sample2.jpeg'%}">
      </a>
  </div>
  <div class="container">
    <div class="video-thumbnail-container">
      <a href="https://youtu.be/DAQrkjwmQvQ?t=3">
          <img src="{%static 'images/sample2.jpeg'%}">
      </a>
  </div>
  <div class="container">
    <div class="video-thumbnail-container">
      <a href="https://youtu.be/DAQrkjwmQvQ?t=3">
          <img src="{%static 'images/sample2.jpeg'%}">
      </a>
  </div>
  <div class="container">
    <div class="video-thumbnail-container">
      <a href="https://youtu.be/DAQrkjwmQvQ?t=3">
          <img src="{%static 'images/sample2.jpeg'%}">
      </a>
    </div>
</p>


{%endblock%}